<header>
  <div>
      <a href="/">CfA Styleguide</a>
  </div>
</header>

<div>
  <%= fields_for(:form, Cfa::Styleguide::FormExample.new, builder: Cfa::Styleguide::CfaFormBuilder) do |f| %>
    <%= f.cfa_input_field :example_input, "Example input" %>
    <%= f.cfa_checkbox_set_with_none :example_method_name,
                                     [
                                       { method: :example_checkbox_choice1, label: "Example choice 1" },
                                       { method: :example_checkbox_choice2, label: "Example choice 2" }
                                     ],
                                     none_text: "Neither" %>

    <%= f.cfa_radio_set :example_radio_set,
                        label_text: "Example radio set (regular)",
                        legend_class: "sr-only",
                        collection: [
                          { value: :option1, label: "Option 1" },
                          { value: :option2, label: "Option 2" },
                        ] %>

    <%= f.cfa_radio_set_with_follow_up :example_radio_set_with_follow_up,
                                       label_text: "Example radio set with follow up",
                                       collection: [
                                         { value: :yes, label: "Yes" },
                                         { value: :no, label: "No" },
                                       ],
                                       first_follow_up: ->{ f.cfa_input_field :example_input, "Example input" },
                                       second_follow_up: ->{ f.cfa_input_field :example_input, "Example input" }
    %>
    <%= f.cfa_range_field(:example_range_upper, :example_range_lower, "Example range") %>
    <%= f.cfa_date_select(:example_date_select, "Example date select", help_text: "Help for date select",
                          options: { start_year: Time.now.year, end_year: Time.now.year - 3 }) %>
    <%= f.cfa_textarea :example_textarea, 'Example textarea', options: {rows: '2'} %>
<% end %>
</div>