<% content_for(:template_name) { "styleguide" } %>

<section class="slab slab--styleguide" id="atoms">
  <div class="grid">
    <div class="grid__item width-one-half shift-one-fourth">
      <h1>Layouts</h1>
      <p class="text--help">Linked below are examples of the shared card taxonomies we use</p>
    </div>
  </div>
</section>

<section class="slab slab--not-padded text--centered">
  <div class="grid">
    <div class="grid__item with-padding-small">
      <%= link_to "Center-aligned form card", layouts_center_aligned_path %>
      <%= styleguide_code('examples/layout_views/center_aligned') %>
    </div>
    <div class="grid__item with-padding-small">
      <%= link_to "Left-aligned form card", layouts_left_aligned_path %>
      <%= styleguide_code('examples/layout_views/left_aligned') %>
    </div>
    <div class="grid__item with-padding-small">
      <%= link_to "Confirmation form card", layouts_confirmation_path %>
      <%= styleguide_code('examples/layout_views/confirmation') %>
    </div>
    <div class="grid__item with-padding-small">
      <%= link_to "Progress signpost card", layouts_progress_signpost_path %>
      <%= styleguide_code('examples/layout_views/progress_signpost') %>
    </div>
    <div class="grid__item with-padding-small">
      <%= link_to "Review signpost card", layouts_review_signpost_path %>
      <%= styleguide_code('examples/layout_views/review_signpost') %>
    </div>
    <div class="grid__item with-padding-small">
      <%= link_to "Graphic signpost card", layouts_graphic_signpost_path %>
      <%= styleguide_code('examples/layout_views/graphic_signpost') %>
    </div>
    <div class="grid__item with-padding-small">
      <%= link_to "Yes/No signpost card", layouts_yes_no_signpost_path %>
      <%= styleguide_code('examples/layout_views/yes_no_signpost') %>
    </div>
  </div>
</section>