<% content_for(:template_name) { "styleguide" } %>

<% content_for :subnavigation do %>
  <li class="spacing-below-0">
    <span class="section-header heading-25-small spacing-below-10">Inputs</span>
    <ul class="sidebar__sub-items spacing-below-10">
      <li class="spacing-below-25"><%= link_to "Input Field", styleguide_form_builder_path(anchor: "form_builder-cfa_input_field") %></li>
      <li class="spacing-below-25"><%= link_to "Range Field", styleguide_form_builder_path(anchor: "form_builder-cfa_range_field") %></li>
      <li class="spacing-below-25"><%= link_to "Text area", styleguide_form_builder_path(anchor: "form_builder-cfa_textarea") %></li>
      <li class="spacing-below-25"><%= link_to "Date select", styleguide_form_builder_path(anchor: "form_builder-cfa_date_select") %></li>
      <li class="spacing-below-25"><%= link_to "Checkbox set", styleguide_form_builder_path(anchor: "form_builder-cfa_checkbox_set") %></li>
      <li class="spacing-below-25"><%= link_to "Checkbox set with none", styleguide_form_builder_path(anchor: "form_builder-cfa_checkbox_set_with_none") %></li>
      <li class="spacing-below-25"><%= link_to "Radio set", styleguide_form_builder_path(anchor: "form_builder-cfa_radio_set") %></li>
      <li class="spacing-below-25"><%= link_to "Radio set with follow up", styleguide_form_builder_path(anchor: "form_builder-cfa_radio_set_with_follow_up") %></li>
      <li class="spacing-below-25"><%= link_to "Single tap button", styleguide_form_builder_path(anchor: "form_builder-cfa_single_tap_button") %></li>
      <li class="spacing-below-25"><%= link_to "Select", styleguide_form_builder_path(anchor: "form_builder-cfa_select") %></li>
    </ul>
  </li>
<% end %>

<section class="slab slab--styleguide">
  <div class="grid">
    <div class="grid__item">
      <h1>CfaFormBuilder</h1>
      <p class="text--help">CfAFormBuilder is a helper that generates accessible form fields for the styleguide.</p>
    </div>
  </div>
</section>
<%= render 'section', title: 'Input Field', example: 'form_builder/cfa_input_field' %>
<%= render 'section', title: 'Range Field', example: 'form_builder/cfa_range_field' %>
<%= render 'section', title: 'Text area', example: 'form_builder/cfa_textarea' %>
<%= render 'section', title: 'Date select', example: 'form_builder/cfa_date_select' %>
<%= render 'section', title: 'Checkbox set', example: 'form_builder/cfa_checkbox_set' %>
<%= render 'section', title: 'Checkbox set with none', example: 'form_builder/cfa_checkbox_set_with_none' %>
<%= render 'section', title: 'Radio set', example: 'form_builder/cfa_radio_set' %>
<%= render 'section', title: 'Radio set with follow up', example: 'form_builder/cfa_radio_set_with_follow_up' %>
<%= render 'section', title: 'Single tap button', example: 'form_builder/cfa_single_tap_button' %>
<%= render 'section', title: 'Select', example: 'form_builder/cfa_select' %>
