<% content_for(:template_name) { "styleguide" } %>

<section class="slab slab--styleguide">
  <div class="grid">
    <div class="grid__item">
      <h1>CfaV2FormBuilder</h1>
      <p class="text--help">CfAV2FormBuilder is a helper that generates accessible form fields for the styleguide.</p>
    </div>
  </div>
</section>

<%= render 'section', title: 'Text Field', example: 'form_builder/v2/cfa_text_field' %>
<%= render 'section', title: 'Button', example: 'form_builder/v2/cfa_button' %>
<%= render 'section', title: 'Select', example: 'form_builder/v2/cfa_select' %>
<%= render 'section', title: 'Fieldset', example: 'form_builder/v2/cfa_fieldset' %>
<%= render 'section', title: 'Radio Buttons', example: 'form_builder/v2/cfa_radio_button' %>
<%= render 'section', title: 'Collection Radio Button', example: 'form_builder/v2/cfa_collection_radio_buttons' %>
<%= render 'section', title: 'Check Box', example: 'form_builder/v2/cfa_check_box' %>
<%= render 'section', title: 'Collection Check Boxes', example: 'form_builder/v2/cfa_collection_check_boxes' %>
