<%= content_for(:template_name) { "question" } %>
<% content_for :content do %>
  <div class="slab">
    <main class="form-card form-card--transition">
      <div class="form-card__header">
        <h1 class="h2 form-card__title"><%= yield :card_title %></h1>
      </div>

      <% case @info_card_type %>
      <% when 'review' %>
        <div class="form-card__content">
          <div class="emoji emoji--big <%= yield :emoji %>"></div>
          <p class="h3"><strong><%= yield :review_content %></strong></p>
          <p class="text--help"><%= yield :review_content_type %></p>
        </div>

        <div class="form-card__footer">
          <p>
            <%= link_to 'This looks correct',
                         styleguide_main_path, # directs to next path in flow
                         class: 'button button--primary' %>
          </p>
          <p>
            <%= link_to 'Change my answers',
                         layouts_path, # directs to form for correction
                         class: 'button' %>
          </p>
        </div>

      <% when 'graphic' %>
        <%= render "layouts/#{@status}" %>
      <% end %>
    </main>
  </div>
<% end %>