<% content_for(:template_name) { "question" } %>
<% content_for :content do %>
  <div class="slab">
    <main class="form-card">
      <div class="form-card__header form-card__header--with-icon">
        <% if content_for? :card_icon %>
          <div class="form-card__icon emoji emoji--inline emoji--big <%= yield :card_icon %>"></div>
        <% end %>
        <h1 class="form-card__title">
          <%= yield :card_title %>
        </h1>
        <% if content_for? :card_help %>
          <p class="text--help"><%= yield :card_help %></p>
        <% end %>
      </div>

      <div class="form-card__content">
        <%= yield :card_body %>
      </div>

      <div class="form-card__footer">
        <% if content_for? :card_footer %>
          <%= yield :card_footer %>
        <% else %>
          <button class="button button--primary">
            <%= content_for(:card_footer_button_label) || "Continue" %>
          </button>
        <% end %>
      </div>
    </main>
  </div>
<% end %>