<!DOCTYPE html>
<html>
<head>
  <title>CfA Styleguide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body class="template--<%= content_for(:template_name) if content_for?(:template_name) %>">
<div class="page-wrapper">
  <%= content_for?(:content) ? content_for(:content) : yield %>
</div>
</body>
</html>
