<%= content_for(:template_name) { "question" } %>
<% content_for :content do %>
  <div class="slab">
    <main class="form-card form-card--transition text--centered">
      <div class="form-card__header">
        <%= render partial: 'components/molecules/progress_step_bar', locals: { current_step: @current_step, step_count: @step_count } %>
        <h1 class="form-card__title"><%= yield :card_title %></h1>
        <p class="text--small"><%= yield :card_help %></p>
      </div>

      <div class="form-card__content">
        <%= yield :card_body %>
      </div>

      <div class="form-card__footer">
        <button class="button button--primary">
          <%= content_for(:card_footer_button_label) || "Continue" %>
        </button>
      </div>
    </main>
  </div>
<% end %>